{% extends "base_generic.html" %}

{% block content %}
    <h1>StageBrainz</h1>
    <p>Data Input guidelines</p>

    <h2>Tips</h2>

    <ul>
        <li>Sort names are compulsory, but can be identical to the regular name.</li>
        <li>Regular names are as descriptive as possible, and contain as many references to first and second degree relations as needed to be discriminative.</li>
        <li>Dates can be partial dates.</li>
        <li>Productions can have a season assigned to them, if they are (still) conceived in a season-based context. Shows that are linked to the season-specific production must have dates that fall within the season begin and end date.</li>
        <li>Shows of a production can be in the context of e.g. a festival (which would be a core entity of model Organity, organity_type = Festival</li>
        <li>...</li>
    </ul>

    <h2>Entities</h2>

    <p>Entities are productions, shows, organities, works, characters, genres, urls, languages and locations. The concept of each entity is explained below.</p>
    <p>Each entity has an entity type, that can be used to classify the entities. As an example</p>

    <h2>Core Entities</h2>

    <p>Core entities can be edited by logged in users.</p>

    <h3>Productions</h3>

    <p>Productions are ...</p>

    <h4>Production types</h4>
    <ul>
        <li>Production type #1</li>
        <li>Production type #2</li>
        <li>...</li>
    </ul>

    <h3>Shows</h3>
    <ul>
        <li>Shows are...</li>
    </ul>

    <h3>Organities</h3>
    <ul>
        <li>Organities are...</li>
    </ul>

    <h3>Works</h3>
    <ul>
        <li>Works are...</li>
    </ul>

    <h3>Characters</h3>
    <ul>
        <li>Characters are...</li>
    </ul>

    <h2>Auxiliary entities</h2>
    <h3>Genres</h3>
    <ul>
        <li>Genres are...</li>
    </ul>

    <h3>Languages (not yet available)</h3>
    <ul>
        <li>Languages are...</li>
    </ul>

    <h3>Locations (not yet available)</h3>
    <ul>
        <li>Productions are...</li>
    </ul>

    <h3>Urls</h3>
    <ul>
        <li>Urls are...</li>
    </ul>
{% endblock %}
