{% extends "base_generic.html" %}

{% block content %}
    <h1>Production: {{ entityproduction.name }}</h1>

    <p> With:
        {% for relation in entityproduction.relationproductionorganity_set.all %}
            {% if relation.highlighted_relation == 1 %}
                <a href="{% url 'organities-detail' relation.entity_b.pk %}">{{relation.entity_b.name}}</a>
            {% endif %}
        {% endfor %}
    </p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Credits</h4>
            {% for relation in entityproduction.relationproductionorganity_set.all %}
                <hr>
                    <p>{{relation.relation_type.name}} <a href="{% url 'organities-detail' relation.entity_b.pk %}">{{relation.entity_b.name}}</a> ({{relation.context_of_character.name}})</p>
            {% endfor %}
    </div>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Shows</h4>
            {% for relation in entityproduction.relationshowproduction_set.all %}
                <hr>
                    <p>{{relation.entity_a.name}}, {{relation.entity_a.when_date}}, {{relation.entity_a.when_time}} ({{relation.entity_a.entity_type.all|join:", "}})</p>
            {% endfor %}
    </div>
{% endblock %}