{% extends "base_generic.html" %}

{% block content %}
    <h1>Show: {{ entityshow.name }}</h1>

    <p><strong>Name:</strong> {{ entityshow.name }}</p>
    <p><strong>Date:</strong> {{ entityshow.when_date }}</p>

    <!-- display connected shows -->
    <div style="margin-left:20px;margin-top:20px">
        <h4>Organities</h4>
            <ul>
                {% for relation in entityshow.relationshoworganity_set.all %}
                    <li>
                        <a href="{% url 'organities-detail' relation.entity_b.pk %}">
                            {{relation.entity_b.name}}
                        </a>
                        ({{relation.entity_b.entity_type.all|join:","}})
                        {% if relation.context_of_organity %}in the context of <a href="{% url 'organities-detail' relation.context_of_organity.pk %}">{{relation.context_of_organity}}</a>{% endif %}
                        {% if perms.catalog.can_change_relation_show_organity %}[<a href="{% url 'show_organity_update' relation.pk %}">edit</a>]{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% if perms.catalog.can_add_relation_show_production %}- <a href="{% url 'show_organity_create' entityshow.id %}">Relate an organity to this show</a> {% endif %}
    </div>

{% if perms.catalog.can_edit_entity_show %}- <a href="{% url 'show_update' entityshow.id %}">Update this show</a> {% endif %}

{% endblock %}