{% extends "base_generic.html" %}

{% block content %}
  <h1>Work List</h1>
  {% if entitywork_list %}
  <ul>
    {% for work in entitywork_list %}
      <li>
        {% if work.sort_name %}{{ work.sort_name }}{% else %}No sort name provided{% endif %} (<a href="{{ work.get_absolute_url }}">{{ work.name }}</a>{% if work.disambiguation %}, <i>{{work.disambiguation}}</i>{% endif %})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no works in the catalog.</p>
  {% endif %}
{% endblock %}