{% extends "base_generic.html" %}

{% block content %}
    <h1>Organity: {{ entityorganity.name }}</h1>

    <p><strong>Name:</strong> {{ entityorganity.name }}</p>
    <p><strong>Start date:</strong> {{ entityorganity.start_date }}</p>

    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Available edit actions</h4>
        <ul>
            {% if perms.catalog.can_edit_entity_organity %}<li><a href="{% url 'organity_update' entityorganity.id %}">Update this organity</a></li>{% endif %}
            {% if perms.catalog.can_delete_entity_organity %}<li><a href="{% url 'organity_delete' entityorganity.id %}">Delete this organity</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_organity_organity %}<li><a href="{% url 'organity_organity_create' entityorganity.id %}">Relate an organity to this organity</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_organity_character %}<li><a href="{% url 'organity_character_create' entityorganity.id %}">Relate a character to this organity</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_organity_genre %}<li><a href="{% url 'organity_genre_create' entityorganity.id %}">Relate a genre to this organity</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_organity_url %}<li><a href="{% url 'organity_url_create' entityorganity.id %}">Relate a url to this organity</a></li>{% endif %}
        </ul>
    </div>
{% endblock %}
