{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ entityproduction.name }} -
    {% for relation in entityproduction.relationproductionorganity_set.all %}
            {% if relation.highlighted_relation == 1 %}
                <a href="{% url 'organities-detail' relation.entity_b.pk %}">{{ relation.entity_b.name }}</a>
            {% endif %}
        {% endfor %}
    </h1>

    <p>Season {{ entityproduction.season.name }}, {{ entityproduction.start_date }} -- {{ entityproduction.end_date }}</p>

    <div style="margin-left:20px;margin-top:20px">
    <p>Production type: {{ entityproduction.entity_type.all|join:", " }}</p>

    <p>
        Related work:
        {% for relation in entityproduction.relationproductionwork_set.all %}
            {{relation.relation_type.all|join:", "}}
            <a href="{% url 'works-detail' relation.entity_b.pk %}">{{relation.entity_b.name}}</a>
            <a href="{% url 'production_work_update' relation.pk %}">[edit]</a>
            <a href="{% url 'production_work_delete' relation.pk %}">[delete]</a>
        {% endfor %}
    </p>
    <p>
        Genre:
        {% for relation in entityproduction.relationproductiongenre_set.all %}
            {{relation.entity_b.name}}
            <a href="{% url 'production_genre_update' relation.pk %}">[edit]</a>
            <a href="{% url 'production_genre_delete' relation.pk %}">[delete]</a>
        {% endfor %}
    </p>
    <hr>

    <!-- display credits -->
    <div style="margin-left:20px;margin-top:20px">
        <h4>Credits</h4>
            <ul>
                {% for relation in entityproduction.relationproductionorganity_set.all %}
                    <li>
                        {{relation.display_relation_name}}
                        <a href="{% url 'organities-detail' relation.entity_b.pk %}">
                            {{relation.entity_b.name}}
                        </a>
                        {% if relation.context_of_character.name %} ({{relation.display_context_of_character}}){% endif %}
                        {% if perms.catalog.can_change_relation_production_organity %}[<a href="{% url 'production_organity_update' relation.pk %}">edit</a>]{% endif %}
                        {% if perms.catalog.can_delete_relation_production_organity %}[<a href="{% url 'production_organity_delete' relation.pk %}">delete</a>]{% endif %}
                    </li>
                {% endfor %}
            </ul>
    </div>

    <!-- display connected shows -->
    <div style="margin-left:20px;margin-top:20px">
        <h4>Shows</h4>
            <ul>
                {% for relation in entityproduction.relationshowproduction_set.all %}
                    <li>
                        <a href="{% url 'shows-detail' relation.entity_a.pk %}">
                            {{relation.entity_a.when_date}}{% if relation.entity_a.when_time %}, {{relation.entity_a.when_time}}{% endif %}
                        </a>
                        {% for rel in relation.entity_a.relationshoworganity_set.all %}
                            {% for entity in rel.relation_type.all %}
                                {% if entity.name == 'Was held at' %}
                                    in <a href="{% url 'organities-detail' rel.entity_b.pk %}">{{rel.entity_b.name}}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        ({{relation.entity_a.entity_type.all|join:", "}})
                        {% if relation.context_of_organity %}in the context of <a href="{% url 'organities-detail' relation.context_of_organity.pk %}">{{relation.context_of_organity}}</a>{% endif %}
                        {% if perms.catalog.can_change_relation_show_production %}[<a href="{% url 'production_show_update' relation.pk %}">edit</a>]{% endif %}
                        {% if perms.catalog.can_delete_relation_show_production %}[<a href="{% url 'production_show_delete' relation.pk %}">delete</a>]{% endif %}
                    </li>
                {% endfor %}
            </ul>

    </div>
    <hr>
    <div>
        <p>Disambiguation text: {{entityproduction.disambiguation}}</p>
        <p>Sort on: {{entityproduction.sort_name}}</p>
        <p>
            Related productions:
            {% for relation in entityproduction.productiona.all %}
                {{relation.relation_type.all|join:", "}}
                <a href="{% url 'productions-detail' relation.entity_b.pk %}">{{relation.entity_b.name}}</a>
                <a href="{% url 'production_production_update' relation.pk %}">[edit]</a>
                <a href="{% url 'production_production_delete' relation.pk %}">[delete]</a>
            {% endfor %}
            {% for relation in entityproduction.productionb.all %}
                {{relation.relation_type.all|join:", "}}
                <a href="{% url 'productions-detail' relation.entity_b.pk %}">{{relation.entity_a.name}}</a>
                <a href="{% url 'production_production_update' relation.pk %}">[edit]</a>
                <a href="{% url 'production_production_delete' relation.pk %}">[delete]</a>
            {% endfor %}
        </p>
        <p>
            Special characters:
            {% for relation in entityproduction.relationproductioncharacter_set.all %}
                {{relation.entity_b.name}}
                <a href="{% url 'production_character_update' relation.pk %}">[edit]</a>
                <a href="{% url 'production_character_delete' relation.pk %}">[delete]</a>
            {% endfor %}
        </p>
        <p>
            External links:
            {% for relation in entityproduction.relationproductionurl_set.all %}
                <a href="{{relation.entity_b.name}}">{{relation.entity_b.name}}</a>
                ({{relation.entity_b.entity_type.all|join:", "}})
                <a href="{% url 'url_update' relation.entity_b.pk %}">[edit link]</a>
                <a href="{% url 'production_url_update' relation.pk %}">[edit]</a>
                <a href="{% url 'production_url_delete' relation.pk %}">[delete]</a>
            {% endfor %}
        </p>
    </div>

    <hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Available edit actions</h4>
        <ul>
            {% if perms.catalog.can_edit_entity_production %}<li><a href="{% url 'production_update' entityproduction.id %}">Update this production</a></li>{% endif %}
            {% if perms.catalog.can_delete_entity_production %}<li><a href="{% url 'production_delete' entityproduction.id %}">Delete this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_production_organity %}<li><a href="{% url 'production_organity_create' entityproduction.id %}">Relate an organity to this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_production_production %}<li><a href="{% url 'production_production_create' entityproduction.id %}">Relate a production to this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_show_production %}<li><a href="{% url 'production_show_create' entityproduction.id %}">Relate a show to this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_production_work %}<li><a href="{% url 'production_work_create' entityproduction.id %}">Relate a work to this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_production_character %}<li><a href="{% url 'production_character_create' entityproduction.id %}">Relate a character to this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_production_genre %}<li><a href="{% url 'production_genre_create' entityproduction.id %}">Relate a genre to this production</a></li>{% endif %}
            {% if perms.catalog.can_add_relation_production_url %}<li><a href="{% url 'production_url_create' entityproduction.id %}">Relate a url to this production</a></li>{% endif %}
        </ul>
    </div>

{% endblock %}