{% extends "base_generic.html" %}

{% block content %}
  <h1>Show List</h1>
  {% if entityshow_list %}
  <ul>
    {% for show in entityshow_list %}
      <li>
        {% if show.when_date %}{{ show.when_date }}{% else %}No date provided{% endif %}
        {% if show.when_time %}, {{ show.when_time }}{% endif %}
        {% if show.sort_name %}, {{ show.sort_name }}{% else %}No sort name provided{% endif %}
        (<a href="{{ show.get_absolute_url }}">{{ show.name }}</a>
        {% if show.disambiguation %}, <i>{{show.disambiguation}}</i>{% endif %})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no shows in the catalog.</p>
  {% endif %}
{% endblock %}