{% extends "base_generic.html" %}

{% block content %}
  <h1>Organisation List</h1>
  {% if entityorganity_list %}
  <ul>
    {% for organity in entityorganity_list %}
      <li>
        {% if organity.sort_name %}{{ organity.sort_name }}{% else %}No sort name provided{% endif %} (<a href="{{ organity.get_absolute_url }}">{{organity.name}}</a>{% if organity.disambiguation %}, <i>{{organity.disambiguation}}</i>{% endif %})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no organisations in the catalog.</p>
  {% endif %}
{% endblock %}