{% extends "base_generic.html" %}

{% block content %}
<h2>Relate Show to a new Genre</h2>
  {% if perms.catalog.can_add_entity_genre %}
    <p>- <a target="_blank" href="{% url 'genre_create' %}">Create genre</a></p>
  {% else %}
    <p>You are not allowed to create new genres.</p>
  {% endif %}
<h2>Relate show to an existing genre</h2>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}